<<<<<<< HEAD
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
=======
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
>>>>>>> 816af9a91306e1702b527aaf7ae7488f5d282900
    block content